/* Flex sections additions */

.flexsectionstyle-sample {
    border: dashed 1px #ccc;
    padding: 10px;
    border-radius: 8px;
    -moz-border-radius: 8px;
}

.flexsection-global-control {
    margin:5px;
}

.flexsectionstyle-sample .sample-label {
    color: #ccc;
    font-size: 0.8em;
}

.format-flexsections .course-content ul.flexsections li.section {
    margin-left: 2em;
    border: dashed 1px #E0DCD7;
}

.format-flexsections div#page-content {
    margin: 0;
}

.flexsections > .main > .content > .sectionname,
.flexcontrol {
    cursor:pointer;
    display: inline-block;
}

body#page-course-view-flexsections.format-flexsections #section-0 ul.flexsections.flexsections-level-1 {
    margin-left: -4em !important;
}

.section.collapsed > .content {
    display:none;
}

.section-content.collapsed {
    display: none;
}

li.section.collapsed > div.section-caption > .sectionname > .flexcontrol > img,
li.section.expanded  > div.section-caption > .sectionname > .flexcontrol > img {
    visibility: hidden;
}

li.section.collapsed  > div.section-caption > .sectionname > .flexcontrol > .overlay::before {
    color: black;
    content: '\f078';
    font-family: 'FontAwesome';
}

li.section.expanded > div.section-caption > .sectionname > .flexcontrol > .overlay::before {
    color: black;
    content: '\f077';
    font-family: 'FontAwesome';
}

/*
li.section .sectionname > span.flexcontrol {
    position: relative;
    left: -36px;
}
*/

.flexsection-handle::before {
    font-family: "FontAwesome";
    font-size: 0.9em;
    font-style: normal;
    color: white;
    padding-right: 15px;
}

.sectionname[aria-expanded="true"] .flexsection-handle::before {
    content: " \f077 ";
}

.sectionname[aria-expanded="false"] .flexsection-handle::before {
    content: " \f078 ";
}