<!-- theme_klassplace/magisterecoursegrid -->
        <div class="row-fluid-coursebox">
            {{^hascourses}}
                {{{nocourses}}}
            {{/hascourses}}
            {{#hascourses}}
            {{#coursegridelms}}
            <div class="local-courseindex-promowrap span6">
                <div class="local-courseindex-fp-coursebox klassplace {{selfenrolclass}} {{guestenrolclass}}" data-format="{{format}}" data-course="{{courseid}}">
                    <div class="local-courseindex-fp-coursethumb">

                        <!-- course thumb -->
                        <div class="courseindex-fp-coursename {{withopacityeffect}} {{withhaloeffect}}">
                            <div class="customimage {{accessmode}}">
                                <img src="{{{imgurl}}}" width="100%" height="125" title="{{fullname}}" />
                            </div>
                        </div>

                        <!-- course title -->
                        <div class="courseindex-fp-courseinfo">
                            <h5>
                                <div id="courseindex-course" title="{{fullname}}" class="courseindex-coursename {{accessmode}}">
                                    {{trimtitle}}
                                </div>
                            </h5>
                        </div>

                        <!-- No summary needed as detail panel gives it -->
                        <!-- div class="coursebox-summary">{{{summary}}}</div -->

                        {{#hasattributes}}
                        <div class="attributes-container">
                            <div class="local-courseindex-fp-attributes">
                                {{{hiddenattribute}}}
                                {{{selfattribute}}}
                                {{{guestattribute}}}
                                {{{futureattribute}}}
                                {{{editingattribute}}}
                            </div>
                        </div>
                        {{/hasattributes}}

                    </div>
                    <div class="courseindex-readmorelink" aria-label="{{#str}}readmore, local_courseindex{{/str}}" tabindex="0">
                        {{#str}}readmore, local_courseindex{{/str}}
                    </div>
                </div>
            </div>
            {{/coursegridelms}}
            {{/hascourses}}
        </div>
<!-- /theme_klassplace/magisterecoursegrid -->
