

<!-- theme_klassplace/accessibilityswitches -->
    {{#usedyslexicfont}}
    <div id="dyslexic-toggle-switch" class="accessibility-toggle dyslexic {{dyslexicactive}}">
        <a class="btn-secondary" href="{{{dyslexicurl}}}" title="qp: {{dyslexicactiontitle}}">qp</a>
    </div>
    {{/usedyslexicfont}}
    {{#usehighcontrastfont}}
    <div id="highcontrast-toggle-switch" class="accessibility-toggle highcontrast {{highcontrastactive}}">
        <a class="btn-secondary" href="{{{highcontrasturl}}}" title="AA: {{highcontrastactiontitle}}">AA</a>
    </div>
    {{/usehighcontrastfont}}
<!-- /theme_klassplace/accessibilityswitches -->
