

<!-- theme_klassplace/backtotop -->
<div id="backtotop" style="display: none;">
   <a class="scrollup" href="javascript:void(0);" title="{{#str}}backtotop,'theme_klassplace{{/str}}"></a>
</div>
<!-- /theme_klassplace/backtotop -->
