<!-- Start Logo and Custom Menu Section -->  
<div class="fixed-nav-element"></div>
<div id="nav-main">
   <header role="banner" class="navbar {{{navbarclass}}} moodle-has-zindex">
      <nav role="navigation" class="navbar-inner">
         <div class="container-fluid">
            <div class="pull-left logo-con">
               <a class="logo" href="#"><img src="{{{logo}}}" alt="" /> </a>
            </div>
            <div class="pull-right custom-menu">
               <div id="navigation-wrapper">
                  <div class="main-navigation-inner">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="menu-bar">
                              <a class="mobile-home" href="#" title="klassplace">
                              <i class="fa fa-home"></i>
                              </a>
                              <a class="show-menu" href="#"><i class="fa fa-bars"></i>
                              </a>
                           </div>
                           <ul class="nav pull-right">
                              <li>{{{{output.custom_menu}}}</li>
                           </ul>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </div>
            </div>
         </div>
      </nav>
   </header>
</div>
<!-- End Logo and Custom Menu Section -->