

<!-- theme_klassplace/preblocks -->
{{#hasblocks}}
    <section data-region="blocks-column-flex" class="d-flex justify-content-between d-print-none">
        {{{ sidepreblocks }}}
    </section>
{{/hasblocks}}
<!-- /theme_klassplace/preblocks -->