<!-- theme_klassplace/announcement -->
<div class="announcement">
   <div class="container-fluid">
      <div class="content">
         {{#announcementheading}}
         <h2>{{{announcementheading}}}</h2>
         {{/announcementheading}}
         {{#announcementtagline}}
         <p>{{{announcementtagline}}}</p>
         {{/announcementtagline}}
      </div>
      <div class="con-buttons">
         {{#buttonreadmore}}
         <a href="{{{buttonreadmoreurl}}}" title="Read more" target="_blank" class="btn btn-lg btn-announce-one">{{{buttonreadmore}}}</a>
         {{/buttonreadmore}}
         {{#buttonbuynow}}
         <a href="{{{buttonbuynowurl}}}" title="Read more again" target="_blank" class="btn btn-lg btn-announce-two">{{{buttonbuynow}}}</a>
         {{/buttonbuynow}}
      </div>
   </div>
</div>
<!-- /theme_klassplace/announcement -->