<!-- theme_klassplace/clientlogos -->
<div class="clients-logo">
   <div class="container-fluid">
      <div class="row-fluid-logo-partner">
         {{#clientlogos}}
         <div class="span2">
            <a href="{{{clientlogourl}}}">
            <img src="{{{clientlogo}}}" alt="client-logo-{{ix}}" />
            </a>
         </div>
         {{/clientlogos}}
      </div>
   </div>
</div>
<!-- theme_klassplace/clientlogos -->