<!-- theme_klassplace/featured -->
{{#displayfeaturedsection}}
<div class="featured">
    <div class="container-fluid">
        <h6>{{{featuredposttagline}}}</h6>
        <h2>{{{featuredpostheading}}}</h2>
        <a href="#">
            <img class="picture" src="{{{featuredpostimage}}}"/>
        </a>
        <h5>
        <a href="{{{featuredposturl}}}">{{{featuredposttitle}}}</a>
        </h5>
        <span class="tags">{{{featuredposttags}}}</span>
        <span class="post_date">
            <i class="fa fa-clock-o"></i>
            {{{featuredpostdate}}}
        </span>
        <p>{{{featuredpostdescription}}}</p>
        <a class=""btn btn-lg" href="{{{featuredpostbuttonurl}}}">{{{featuredpostbuttontext}}}</a>
   </div>
</div>
{{/displayfeaturedsection}}
<!-- /theme_klassplace/featured -->