<!-- theme_klassplace/categories-->
{{#enablecategoryimage}}
<div class="customcategories row-fluid">
</div>
{{/enablecategoryimage}}

{{^enablecategoryimage}}
<div class="defaultcategories row-fluid">
   <div class="container-fluid">
   </div>
</div>
{{/enablecategoryimage}}
<!-- /theme_klassplace/categories-->