<!-- theme_klassplace/panel_social -->
<div class="social as-panel">
   <div class="not-container-fluid">
       <!-- Start Top Social Section -->
        <!-- div id="socialnav-head" class="row-fluid">
            {{#socialtagline}}
            <h6>{{{socialtagline}}}</h6>
            {{/socialtagline}}
            {{#socialheading}}
            <h2>{{{socialheading}}}</h2>
            {{/socialheading}}
        </div -->
        {{> theme_klassplace/social_links }}
    </div>
</div>
<!-- /theme_klassplace/panel_social -->