<!-- theme_klassplace/timeline_pagetracker -->

<div class="container">
    <nav id="course-timeline" class="timeline">
        <div class="timeline_content">
            <div class="timeline_steps">
                <a href="#" id="page-" class="timeline_step">
                    <span class="timeline_stepname">
                    exemple1
                    </span>
                </a>
                <a href="#" id="page-" class="timeline_step">
                    <span class="timeline_stepname">
                    exemple1
                    </span>
                </a>
                <a href="#" id="page-" class="timeline_step">
                    <span class="timeline_stepname">
                    exemple2
                    </span>
                </a>
                <a href="#" id="page-" class="timeline_step">
                    <span class="timeline_stepname">
                    exemple3
                    </span>
                </a>
                <a href="#" id="page-" class="timeline_step">
                    <span class="timeline_stepname">
                    exemple4
                    </span>
                </a>
                <a href="#" id="page-" class="timeline_step">
                    <span class="timeline_stepname">
                    exemple5
                    </span>
                </a>
                <a href="#" id="page-" class="timeline_step">
                    <span class="timeline_stepname">
                    exemple6
                    </span>
                </a>
            </div>
        </div>
    </nav>
</div>

<!-- /theme_klassplace/timeline_pagetracker -->