

<!-- theme_klassplace/blocks_course_ascendants coursegrid -->
<div class="row-fluid-coursebox">
    {{#courses}}
    {{> block_course_ascendants/coursebox}}
    {{/courses}}
</div>
<!-- /theme_klassplace/blocks_course_ascendants coursegrid -->
